name: CI & Publish

on:
  push:
    branches:
      - termcolours   # dla CI na nowej gałęzi
      - main          # dla CI na main, opcjonalnie
    tags:
      - 'v*'          # trigger publikacji na PyPI przy tagach

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: python -m pip install --upgrade hatch

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - name: Run tests
        run: hatch run test

  publish:
    name: Publish to PyPI
    needs: test
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: python -m pip install --upgrade hatch

      - name: Publish package
        run: hatch publish --token ${{ secrets.PYPI_TOKEN }}
