name: Publish to PyPI

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: python -m pip install --upgrade hatch

      - name: Publish package to PyPI
        run: hatch publish --token ${{secrets.HATCH_TOKEN}}
        env:
          HATCH_TOKEN: ${{ secrets.HATCH_TOKEN }}
